                <div class="container">
                    <div class="admin-dashboard">
                        <header class="admin-dashboard-header">
                            <h1 class="row py-4 text-primary admin-dashboard-header__title">
                                Dashboard
                            </h1>
                        </header>
                        <ul class="row admin-dashboard-list">
                            <li class="col-lg-4 mb-4">
                                <div class="admin-dashboard-item">
                                    <h3 class="admin-dashboard-item__title">Sản phẩm đang bán</h3>
                                    <span class="admin-dashboard-item-count">5</span>
                                    <ul class="container admin-dashboard-item-infor-list">
                                        <li class="row admin-dashboard-item-infor-item">
                                            <span class="col-8 admin-dashboard-item-infor-item__label">Sắp hết hàng</span>
                                            <span class="col-4 admin-dashboard-item-infor-item__description">5</span>
                                        </li>
                                        <li class="row admin-dashboard-item-infor-item">
                                            <span class="col-8 admin-dashboard-item-infor-item__label">Lợi nhuận tháng này</span>
                                            <span class="col-4 admin-dashboard-item-infor-item__description">213213
                                                <span>đ</span>
                                            </span>
                                        </li>
                                    </ul>
                                    <button class="btn btn-light admin-dashboard-item-btn">
                                        <a href="" class="admin-dashboard-item-btn__link">Thêm sản phẩm</a>
                                    </button>
                                    <button class="btn btn-light admin-dashboard-item-btn">
                                        <a href="" class="admin-dashboard-item-btn__link">Danh sách sản phẩm</a>
                                    </button>
                                </div>
                            </li>          
                            <li class="col-lg-4 mb-4">
                                <div class="admin-dashboard-item">
                                    <h3 class="admin-dashboard-item__title">Đơn hàng đang chờ xử lý</h3>
                                    <span class="admin-dashboard-item-count">5</span>
                                    <ul class="container admin-dashboard-item-infor-list">
                                        <li class="row admin-dashboard-item-infor-item">
                                            <span class="col-8 admin-dashboard-item-infor-item__label">Cần xác nhận</span>
                                            <span class="col-4 admin-dashboard-item-infor-item__description">5</span>
                                        </li>
                                        <li class="row admin-dashboard-item-infor-item">
                                            <span class="col-8 admin-dashboard-item-infor-item__label">Đang giao</span>
                                            <span class="col-4 admin-dashboard-item-infor-item__description">4</span>
                                        </li>
                                        <li class="row admin-dashboard-item-infor-item">
                                        </li>
                                    </ul>
                                    <button class="btn btn-light admin-dashboard-item-btn">
                                        <a href="" class="admin-dashboard-item-btn__link">Xác nhận đơn hàng</a>
                                    </button>
                                    <button class="btn btn-light admin-dashboard-item-btn">
                                        <a href="" class="admin-dashboard-item-btn__link">Đơn hàng đang giao</a>
                                    </button>
                                </div>
                            </li>          
                            <li class="col-lg-4 mb-4">
                                <div class="admin-dashboard-item">
                                    <h3 class="admin-dashboard-item__title"> Doanh thu hôm nay</h3>
                                    <span class="admin-dashboard-item-count">5</span>
                                    <ul class="container admin-dashboard-item-infor-list">
                                        <li class="row admin-dashboard-item-infor-item">
                                            <span class="col-8 admin-dashboard-item-infor-item__label">Số đơn hôm nay</span>
                                            <span class="col-4 admin-dashboard-item-infor-item__description">5</span>
                                        </li>
                                        <li class="row admin-dashboard-item-infor-item">
                                            <span class="col-8 admin-dashboard-item-infor-item__label">Doanh thu tháng này</span>
                                            <span class="col-4 admin-dashboard-item-infor-item__description">4</span>
                                        </li>
                                    </ul>
                                    <button class="btn btn-light admin-dashboard-item-btn">
                                        <a href="" class="admin-dashboard-item-btn__link">Thống kê bán hàng</a>
                                    </button>
                                    <button class="btn btn-light admin-dashboard-item-btn">
                                        <a href="" class="admin-dashboard-item-btn__link">Thống kê sản phẩm</a>
                                    </button>
                                </div>
                            </li>          
                        </ul>
                    </div>
                    <div class="admin-order">
                        <header class="admin-order-header">
                            <h1 class="row py-4 text-primary admin-order-header__title">
                                Danh sách đơn hàng
                            </h1>

                            <div class="row admin-order-header-filter">
                                <div class="col-3">
                                    <div class="d-flex justify-content-between">
                                        <input type="text" class="form-control" aria-label="Text input with dropdown button">
                                        <div class="">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Năm</button>
                                            <div class="dropdown-menu">
                                                <div class="dropdown-item" href="#">2020</div>
                                                <div class="dropdown-item" href="#">2021</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="d-flex justify-content-between">
                                        <input type="text" class="form-control" placeholder="Tên khách hàng">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="d-flex justify-content-between">
                                        <input type="text" class="form-control" aria-label="Text input with dropdown button">
                                        <div class="">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sản phẩm</button>
                                            <div class="dropdown-menu">
                                                <div class="dropdown-item" href="#">Galaxy</div>
                                                <div class="dropdown-item" href="#">Iphone X</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </header>
                        <div class="row py-4">
                            <table class="table table-striped admin-order-table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>
                                            <button class="btn">
                                                <i class="fas fa-sort"></i>
                                            </button>
                                            ID
                                        </th>

                                        <th>
                                            <button class="btn">
                                                <i class="fas fa-sort"></i>
                                            </button>
                                            Tên người mua
                                        </th>
                                        <th>
                                            <button class="btn">
                                                <i class="fas fa-sort"></i>
                                            </button>
                                            Số lượng
                                        </th>
                                        <th>
                                            <button class="btn">
                                                <i class="fas fa-sort"></i>
                                            </button>
                                            Thời gian
                                        </th>
                                        <th>
                                            Tổng tiền
                                        </th>
                                        <th>
                                            <button class="btn">
                                                <i class="fas fa-sort"></i>
                                            </button>
                                            Xem chi tiết
                                        </th>
                                        <th>
                                            Tình trạng
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>OD0001</td>
                                        <td>Trần Ngọc Sang</td>
                                        <td>6</td>
                                        <td>15:00-10/11/2021</td>
                                        <td>
                                            <span class="text-info">1.000.000đ</span>
                                        </td>
                                        <td> 
                                            <a href="/order/orderItemOD0001.html" class="link-primary text-primary text-decoration-none">
                                                Chi tiết
                                            </a>
                                        </td>
                                        <td>
                                            Chưa xử lý
                                        </td>    
                                    </tr>
                                    <tr>
                                        <td>OD0001</td>
                                        <td>Trần Ngọc Sang</td>
                                        <td>5</td>
                                        <td>15:00-10/11/2021</td>
                                        <td>
                                            <span class="text-info">1.000.000đ</span>
                                        </td>
                                        <td> 
                                            <a href="/order/orderItemOD0001.html" class="link-primary text-primary text-decoration-none">
                                                Chi tiết
                                            </a>
                                        </td>
                                        <td>
                                            Chưa xử lý
                                        </td>    
                                    </tr>
                                    <tr>
                                        <td>OD0001</td>
                                        <td>Trần Ngọc Sang</td>
                                        <td>5</td>
                                        <td>15:00-10/11/2021</td>
                                        <td>
                                            <span class="text-info">1.000.000đ</span>
                                        </td>
                                        <td> 
                                            <a href="/order/orderItemOD0001.html" class="link-primary text-primary text-decoration-none">
                                                Chi tiết
                                            </a>
                                        </td>
                                        <td>
                                            Chưa xử lý
                                        </td>    
                                    </tr>
                                    <tr>
                                        <td>OD0001</td>
                                        <td>Trần Ngọc Sang</td>
                                        <td>5</td>
                                        <td>15:00-10/11/2021</td>
                                        <td>
                                            <span class="text-info">1.000.000đ</span>
                                        </td>
                                        <td> 
                                            <a href="/order/orderItemOD0001.html" class="link-primary text-primary text-decoration-none">
                                                Chi tiết
                                            </a>
                                        </td>
                                        <td>
                                            Chưa xử lý
                                        </td>    
                                    </tr>
                                    <tr>
                                        <td>OD0001</td>
                                        <td>Trần Ngọc Sang</td>
                                        <td>5</td>
                                        <td>15:00-10/11/2021</td>
                                        <td>
                                            <span class="text-info">1.000.000đ</span>
                                        </td>
                                        <td> 
                                            <a href="/order/orderItemOD0001.html" class="link-primary text-primary text-decoration-none">
                                                Chi tiết
                                            </a>
                                        </td>
                                        <td>
                                            Chưa xử lý
                                        </td>    
                                    </tr>
                                    <tr>
                                        <td>OD0001</td>
                                        <td>Trần Ngọc Sang</td>
                                        <td>5</td>
                                        <td>15:00-10/11/2021</td>
                                        <td>
                                            <span class="text-info">1.000.000đ</span>
                                        </td>
                                        <td> 
                                            <a href="/order/orderItemOD0001.html" class="link-primary text-primary text-decoration-none">
                                                Chi tiết
                                            </a>
                                        </td>
                                        <td>
                                            Chưa xử lý
                                        </td>    
                                    </tr>
                                    <tr>
                                        <td>OD0001</td>
                                        <td>Trần Ngọc Sang</td>
                                        <td>5</td>
                                        <td>15:00-10/11/2021</td>
                                        <td>
                                            <span class="text-info">1.000.000đ</span>
                                        </td>
                                        <td> 
                                            <a href="/order/orderItemOD0001.html" class="link-primary text-primary text-decoration-none">
                                                Chi tiết
                                            </a>
                                        </td>
                                        <td>
                                            Chưa xử lý
                                        </td>    
                                    </tr>
                                    <tr>
                                        <td>OD0001</td>
                                        <td>Trần Ngọc Sang</td>
                                        <td>5</td>
                                        <td>15:00-10/11/2021</td>
                                        <td>
                                            <span class="text-info">1.000.000đ</span>
                                        </td>
                                        <td> 
                                            <a href="/order/orderItemOD0001.html" class="link-primary text-primary text-decoration-none">
                                                Chi tiết
                                            </a>
                                        </td>
                                        <td>
                                            Chưa xử lý
                                        </td>    
                                    </tr>
                                    <tr>
                                        <td>OD0001</td>
                                        <td>Trần Ngọc Sang</td>
                                        <td>5</td>
                                        <td>15:00-10/11/2021</td>
                                        <td>
                                            <span class="text-info">1.000.000đ</span>
                                        </td>
                                        <td> 
                                            <a href="/order/orderItemOD0001.html" class="link-primary text-primary text-decoration-none">
                                                Chi tiết
                                            </a>
                                        </td>
                                        <td>
                                            Chưa xử lý
                                        </td>    
                                    </tr>
                                    <tr>
                                        <td>OD0001</td>
                                        <td>Trần Ngọc Sang</td>
                                        <td>5</td>
                                        <td>15:00-10/11/2021</td>
                                        <td>
                                            <span class="text-info">1.000.000đ</span>
                                        </td>
                                        <td> 
                                            <a href="/order/orderItemOD0001.html" class="link-primary text-primary text-decoration-none">
                                                Chi tiết
                                            </a>
                                        </td>
                                        <td>
                                            Chưa xử lý
                                        </td>    
                                    </tr>
                                    <tr>
                                        <td>OD0001</td>
                                        <td>Trần Ngọc Sang</td>
                                        <td>5</td>
                                        <td>15:00-10/11/2021</td>
                                        <td>
                                            <span class="text-info">1.000.000đ</span>
                                        </td>
                                        <td> 
                                            <a href="/order/orderItemOD0001.html" class="link-primary text-primary text-decoration-none">
                                                Chi tiết
                                            </a>
                                        </td>
                                        <td>
                                            Chưa xử lý
                                        </td>    
                                    </tr>
                                    <tr>
                                        <td>OD0001</td>
                                        <td>Trần Ngọc Sang</td>
                                        <td>5</td>
                                        <td>15:00-10/11/2021</td>
                                        <td>
                                            <span class="text-info">1.000.000đ</span>
                                        </td>
                                        <td> 
                                            <a href="/order/orderItemOD0001.html" class="link-primary text-primary text-decoration-none">
                                                Chi tiết
                                            </a>
                                        </td>
                                        <td>
                                            Chưa xử lý
                                        </td>    
                                    </tr>
                                    <tr>
                                        <td>OD0001</td>
                                        <td>Trần Ngọc Sang</td>
                                        <td>5</td>
                                        <td>15:00-10/11/2021</td>
                                        <td>
                                            <span class="text-info">1.000.000đ</span>
                                        </td>
                                        <td> 
                                            <a href="/order/orderItemOD0001.html" class="link-primary text-primary text-decoration-none">
                                                Chi tiết
                                            </a>
                                        </td>
                                        <td>
                                            Chưa xử lý
                                        </td>    
                                    </tr>
                                    <tr>
                                        <td>OD0001</td>
                                        <td>Trần Ngọc Sang</td>
                                        <td>5</td>
                                        <td>15:00-10/11/2021</td>
                                        <td>
                                            <span class="text-info">1.000.000đ</span>
                                        </td>
                                        <td> 
                                            <a href="/order/orderItemOD0001.html" class="link-primary text-primary text-decoration-none">
                                                Chi tiết
                                            </a>
                                        </td>
                                        <td>
                                            Chưa xử lý
                                        </td>    
                                    </tr>
                                    <tr>
                                        <td>OD0001</td>
                                        <td>Trần Ngọc Sang</td>
                                        <td>5</td>
                                        <td>15:00-10/11/2021</td>
                                        <td>
                                            <span class="text-info">1.000.000đ</span>
                                        </td>
                                        <td> 
                                            <a href="/order/orderItemOD0001.html" class="link-primary text-primary text-decoration-none">
                                                Chi tiết
                                            </a>
                                        </td>
                                        <td>
                                            Chưa xử lý
                                        </td>    
                                    </tr>
                                    <tr>
                                        <td>OD0001</td>
                                        <td>Trần Ngọc Sang</td>
                                        <td>5</td>
                                        <td>15:00-10/11/2021</td>
                                        <td>
                                            <span class="text-info">1.000.000đ</span>
                                        </td>
                                        <td> 
                                            <a href="/order/orderItemOD0001.html" class="link-primary text-primary text-decoration-none">
                                                Chi tiết
                                            </a>
                                        </td>
                                        <td>
                                            Chưa xử lý
                                        </td>    
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                        <footer class="row justify-content-center admin-order-footer">
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center">
                                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul>
                              </nav>
                        </footer>
                    </div>
                </div>