<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/product">Product</a></li>
                    <li><a href="/cart">Cart</a></li>
                    <li><a href="/checkout">Checkout</a></li>
                    <li class="active"><a href="/wishlist">wishlist</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div> <!-- End mainmenu area -->

<!--<div class="product-big-title-area">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-md-12">-->
<!--                <div class="product-bit-title text-center">-->
<!--                    <h2>Wishlist</h2>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<div class="wishlist-page container">
    <div class="container-fluid">
        <div class="wishlist-page-inner">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Add to Cart</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody class="align-middle">
                                <tr>
                                    <td>
                                        <div class="img">
                                            <a href="#"><img src="img/product-5.jpg" alt="Image"></a>
                                            <p>Product Name</p>
                                        </div>
                                    </td>
                                    <td>$99</td>
                                    <td class="product-quantity">
                                        <div class="quantity buttons_added">
                                            <input type="number" size="4" class="input-text qty text" title="Qty"
                                                   value="1" min="0" step="1">
                                        </div>
                                    </td>
                                    <!--<td>
                                        <div class="qty">
                                            <div class="quantity buttons_added">
                                                &lt;!&ndash;                                                <input type="button" class="minus" value="-">&ndash;&gt;
                                                <input type="number" size="4" class="input-text qty text" title="Qty"
                                                       value="1" min="0" step="1">
                                                &lt;!&ndash;                                                <input type="button" class="plus" value="+">&ndash;&gt;
                                            </div>
&lt;!&ndash;                                            <button class="btn-minus"><i class="fa fa-minus"></i></button>&ndash;&gt;
&lt;!&ndash;                                            <input type="text" value="1">&ndash;&gt;
&lt;!&ndash;                                            <button class="btn-plus"><i class="fa fa-plus"></i></button>&ndash;&gt;
                                        </div>
                                    </td>-->
                                    <td><button class="btn-cart">Add to Cart</button></td>
                                    <td><button><i class="fa fa-trash"></i></button></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="img">
                                            <a href="#"><img src="img/product-1.jpg" alt="Image"></a>
                                            <p>Product Name</p>
                                        </div>
                                    </td>
                                    <td>$99</td>
                                    <td class="product-quantity">
                                        <div class="quantity buttons_added">
                                            <input type="number" size="4" class="input-text qty text" title="Qty"
                                                   value="1" min="0" step="1">
                                        </div>
                                    </td>
                                    <td><button class="btn-cart">Add to Cart</button></td>
                                    <td><button><i class="fa fa-trash"></i></button></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="img">
                                            <a href="#"><img src="img/product-2.jpg" alt="Image"></a>
                                            <p>Product Name</p>
                                        </div>
                                    </td>
                                    <td>$99</td>
                                    <td class="product-quantity">
                                        <div class="quantity buttons_added">
                                            <input type="number" size="4" class="input-text qty text" title="Qty"
                                                   value="1" min="0" step="1">
                                        </div>
                                    </td>
                                    <td><button class="btn-cart">Add to Cart</button></td>
                                    <td><button><i class="fa fa-trash"></i></button></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="img">
                                            <a href="#"><img src="img/product-3.jpg" alt="Image"></a>
                                            <p>Product Name</p>
                                        </div>
                                    </td>
                                    <td>$99</td>
                                    <td class="product-quantity">
                                        <div class="quantity buttons_added">
                                            <input type="number" size="4" class="input-text qty text" title="Qty"
                                                   value="1" min="0" step="1">
                                        </div>
                                    </td>
                                    <td><button class="btn-cart">Add to Cart</button></td>
                                    <td><button><i class="fa fa-trash"></i></button></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="img">
                                            <a href="#"><img src="img/product-4.jpg" alt="Image"></a>
                                            <p>Product Name</p>
                                        </div>
                                    </td>
                                    <td>$99</td>
                                    <td class="product-quantity">
                                        <div class="quantity buttons_added">
                                            <input type="number" size="4" class="input-text qty text" title="Qty"
                                                   value="1" min="0" step="1">
                                        </div>
                                    </td>
                                    <td><button class="btn-cart">Add to Cart</button></td>
                                    <td><button><i class="fa fa-trash"></i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>