
<div class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="user-menu">
                    <ul>
                        <li><a href="/wishlist"><i class="fa fa-heart"></i> Wishlist</a></li>
                        <li><a href="/cart"><i class="fa fa-user"></i> My Cart</a></li>
                        <li><a href="/checkout"><i class="fa fa-user"></i> Checkout</a></li>
                        {{#if user}}
                            <li><a href="/myaccount"><i class="fa fa-user"></i> My Account</a></li>
                            <!--                            <li><a href="/myaccount/{{user.username}}"><i class="fa fa-user"></i> My Account</a></li>-->
                            <li><a href="/logout"><i class="fa fa-user"></i> Logout</a></li>
<!--                            <b>Hi {{user.full_name}}</b>-->
                        {{else}}
                            <li><a href="/login"><i class="fa fa-user"></i> Login</a></li>
                        {{/if}}
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="header-right">
                    <ul class="list-unstyled list-inline">
                        <li class="dropdown dropdown-small">
                            <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span
                                    class="key">currency: </span><span class="value">VND </span><b
                                    class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">USD</a></li>
                                <li><a href="#">VNĐ</a></li>
                            </ul>
                        </li>

                        <li class="dropdown dropdown-small">
                            <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span
                                    class="key">language: </span><span class="value">Tiếng việt </span><b
                                    class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">English</a></li>
                                <li><a href="#">Vietnamese</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End header area -->


<div class="site-branding-area style-color-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo">
                    <h1><a href="/"><img src="/img/logo.png"></a></h1>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="shopping-item">
                    <a href="/cart" class="cart-amunt">Cart <i
                            class="fa fa-shopping-cart"></i> <span id="cart-count" class="product-count">0</span></a>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End site branding area -->

