            <div class="container">
                <div class="admin-user">
                    <header class="admin-user-header">
                        <h1 class="row py-4 text-primary admin-user-header__title">
                            Thông tin User
                        </h1>
                    </header>
                    <div class="row py-4">
                        <div class="col-sm-4">
                            <div class="admin-user-infor">
                                <img src="/assets/img/user/KH0001.png" alt="" class="w-50 admin-user-infor-img">
                                <div class="admin-user-infor-description">
                                    <div class="row py-2">
                                        <div class="col">
                                            <h3>Dinhhieu123</h3>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <i class="fas fa-phone"></i>
                                            32423432
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <i class="fas fa-envelope-square"></i>
                                            dh@gmail.com
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="py-4  admin-user-edit">
                                <div class="row py-2">
                                    <div class="col-sm-2">
                                        Họ tên
                                    </div>
                                    <div class="col-sm-10">
                                        Nguyễn Đình Hiệu
                                    </div>
                                </div>
                                <div class="row py-2">
                                    <div class="col-sm-2">
                                        Username
                                    </div>
                                    <div class="col-sm-10">
                                        dinhhieu123
                                    </div>
                                </div>
        
                                <div class="row py-2">
                                    <div class="col-sm-2">
                                        Địa chỉ
                                    </div>
                                    <div class="col-sm-10">
                                        dh@gmail.com
                                    </div>
                                </div>
                                <div class="row py-2">
                                    <div class="col-sm-2">
                                        Email
                                    </div>
                                    <div class="col-sm-10">
                                        20/9/2001
                                    </div>
                                </div>    
                                <div class="row py-2">
                                    <div class="col-sm-2">
                                        Số điện thoại
                                    </div>
                                    <div class="col-sm-10">
                                        1223424
                                    </div>
                                </div>   
                                <div class="row">
                                    <div class="col">
                                        <button type="button" class="btn btn-warning" data-toggle="modal">
                                            <i class="fas fa-lock"></i>
                                            Khóa/Mở khóa
                                        </button>
                                        <button type="button" class="btn btn-danger">
                                            <i class="fa fa-times-circle"></i>
                                            Xóa
                                        </button>
                                    </div>        
                                </div> 
                            </div>
                        </div>
                    </div>


                    <div class="row py-4">
                        <div class="h2">
                            Danh sách đơn hàng đã mua
                        </div>
                    </div>
                    <div class="row">
                        <table class="table table-striped admin-order-table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>
                                        <button class="btn">
                                            <i class="fas fa-sort"></i>
                                        </button>
                                        ID
                                    </th>

                                    <th>
                                        <button class="btn">
                                            <i class="fas fa-sort"></i>
                                        </button>
                                        Tên người mua
                                    </th>
                                    <th>
                                        <button class="btn">
                                            <i class="fas fa-sort"></i>
                                        </button>
                                        Số lượng
                                    </th>
                                    <th>
                                        <button class="btn">
                                            <i class="fas fa-sort"></i>
                                        </button>
                                        Thời gian
                                    </th>
                                    <th>
                                        Tổng tiền
                                    </th>
                                    <th>
                                        <button class="btn">
                                            <i class="fas fa-sort"></i>
                                        </button>
                                        Xem chi tiết
                                    </th>
                                    <th>
                                        Tình trạng
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>OD0002</td>
                                    <td>Nguyễn Đình Hiệu</td>
                                    <td>5</td>
                                    <td>15:00-10/11/2021</td>
                                    <td>
                                        <span class="text-info">1.000.000đ</span>
                                    </td>
                                    <td> 
                                        <a href="/order/orderItemOD0001.html" class="link-primary text-primary text-decoration-none">
                                            Chi tiết
                                        </a>
                                    </td>
                                    <td>
                                        Chưa xử lý
                                    </td>    
                                </tr>
                                <tr>
                                    <td>OD0002</td>
                                    <td>Nguyễn Đình Hiệu</td>
                                    <td>5</td>
                                    <td>15:00-10/11/2021</td>
                                    <td>
                                        <span class="text-info">1.000.000đ</span>
                                    </td>
                                    <td> 
                                        <a href="/order/orderItemOD0001.html" class="link-primary text-primary text-decoration-none">
                                            Chi tiết
                                        </a>
                                    </td>
                                    <td>
                                        Chưa xử lý
                                    </td>    
                                </tr>
                                <tr>
                                    <td>OD0002</td>
                                    <td>Nguyễn Đình Hiệu</td>
                                    <td>5</td>
                                    <td>15:00-10/11/2021</td>
                                    <td>
                                        <span class="text-info">1.000.000đ</span>
                                    </td>
                                    <td> 
                                        <a href="/order/orderItemOD0001.html" class="link-primary text-primary text-decoration-none">
                                            Chi tiết
                                        </a>
                                    </td>
                                    <td>
                                        Chưa xử lý
                                    </td>    
                                </tr>
                                <tr>
                                    <td>OD0002</td>
                                    <td>Nguyễn Đình Hiệu</td>
                                    <td>5</td>
                                    <td>15:00-10/11/2021</td>
                                    <td>
                                        <span class="text-info">1.000.000đ</span>
                                    </td>
                                    <td> 
                                        <a href="/order/orderItemOD0001.html" class="link-primary text-primary text-decoration-none">
                                            Chi tiết
                                        </a>
                                    </td>
                                    <td>
                                        Chưa xử lý
                                    </td>    
                                </tr>
                                
                            </tbody>
                    </div>
                </div>
            </div>
