:root{
    --white-color: #ffffff;
    --black-color: #000;
    --sidebar-color: #132644;
    --admin-login-background: #132644;
    --admin-header-height: 60px;
    --admin-sidebar-widtht: 200px;
    --body-color: rgb(220, 219, 224);
}

body{
    background: var(--body-color);
}

thead{
    background: #ccc;
    border-bottom-style: hidden;
}

td{
    padding: 0;
}

td a{
    text-decoration: none;
    color: #6191c7;
}

th, td {
    text-align: left;
    vertical-align: middle;
}

td img{
    width: 50px;
}




.admin-content{
    background-color: #dcdbe0;
}

.admin-container{
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #dcdbe0;
}

.admin-container-content{
    border-radius: 10px;
    background-color: var(--white-color);
    padding: 24px 40px;
}

.admin-container-content.admin-add-product{
    width: 600px;
    max-width: 100%;
    background-color: var(--white-color);
    border-radius: 10px;
    margin: 100px auto;
    padding: 80px;
}
