<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/product">Product</a></li>
                    <li><a href="/cart">Cart</a></li>
                    <li><a href="/checkout">Checkout</a></li>
                    <li><a href="/wishlist">Wishlist</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div> <!-- End mainmenu area -->


<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="/img/login-img.png" alt="IMG">
            </div>

            <form class="login100-form validate-form" action="/reset-password/new" method="post">
                <span class="login100-form-title">
                    New Password
                </span>

                {{#if errorAuth}}
                    <b>{{errorAuth}}</b>
                {{/if}}

                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input100" type="password" name="password" placeholder="Password">
                    <span class="focus-input100"></span>
                    <span class="">
                        <i class="" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input100" type="password" name="reTypePassword" placeholder="Re-type password">
                    <span class="focus-input100"></span>
                    <span class="">
                        <i class="" aria-hidden="true"></i>
                    </span>
                </div>
                <input class="input100"  type="hidden" name="token" value="{{token}}">

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Confirm
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
