                <div class="container">
                    <div class="admin-order">
                        <header class="admin-order-header">
                            <h1 class="row py-4 text-primary admin-order-header__title">
                                Danh sách đơn hàng
                            </h1>

                            <div class="row admin-order-header-filter">
                                <div class="col-3">
                                    <div class="d-flex justify-content-between">
                                        <input type="text" class="form-control" aria-label="Text input with dropdown button">
                                        <div class="">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Năm</button>
                                            <div class="dropdown-menu">
                                                <div class="dropdown-item" href="#">2020</div>
                                                <div class="dropdown-item" href="#">2021</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="d-flex justify-content-between">
                                        <input type="text" class="form-control" placeholder="Tên khách hàng">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="d-flex justify-content-between">
                                        <input type="text" class="form-control" aria-label="Text input with dropdown button">
                                        <div class="">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sản phẩm</button>
                                            <div class="dropdown-menu">
                                                <div class="dropdown-item" href="#">Galaxy</div>
                                                <div class="dropdown-item" href="#">Iphone X</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </header>
                        <div class="row py-4">
                            <table class="table table-striped admin-order-table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>
                                            <button class="btn">
                                                <i class="fas fa-sort"></i>
                                            </button>
                                            ID
                                        </th>

                                        <th>
                                            <button class="btn">
                                                <i class="fas fa-sort"></i>
                                            </button>
                                            Tên người mua
                                        </th>
                                        <th>
                                            <button class="btn">
                                                <i class="fas fa-sort"></i>
                                            </button>
                                            Số lượng
                                        </th>
                                        <th>
                                            <button class="btn">
                                                <i class="fas fa-sort"></i>
                                            </button>
                                            Thời gian
                                        </th>
                                        <th>
                                            Tổng tiền
                                        </th>
                                        <th>
                                            <button class="btn">
                                                <i class="fas fa-sort"></i>
                                            </button>
                                            Xem chi tiết
                                        </th>
                                        <th>
                                            Tình trạng
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>OD0001</td>
                                        <td>Trần Ngọc Sang</td>
                                        <td>6</td>
                                        <td>15:00-10/11/2021</td>
                                        <td>
                                            <span class="text-info">1.000.000đ</span>
                                        </td>
                                        <td> 
                                            <a href="/admin/order/001" class="link-primary text-primary text-decoration-none">
                                                Chi tiết
                                            </a>
                                        </td>
                                        <td>
                                            Chưa xử lý
                                        </td>    
                                    </tr>
                                    <tr>
                                        <td>OD0001</td>
                                        <td>Trần Ngọc Sang</td>
                                        <td>5</td>
                                        <td>15:00-10/11/2021</td>
                                        <td>
                                            <span class="text-info">1.000.000đ</span>
                                        </td>
                                        <td> 
                                            <a href="/admin/order/001" class="link-primary text-primary text-decoration-none">
                                                Chi tiết
                                            </a>
                                        </td>
                                        <td>
                                            Chưa xử lý
                                        </td>    
                                    </tr>
                                    <tr>
                                        <td>OD0001</td>
                                        <td>Trần Ngọc Sang</td>
                                        <td>5</td>
                                        <td>15:00-10/11/2021</td>
                                        <td>
                                            <span class="text-info">1.000.000đ</span>
                                        </td>
                                        <td> 
                                            <a href="/admin/order/001" class="link-primary text-primary text-decoration-none">
                                                Chi tiết
                                            </a>
                                        </td>
                                        <td>
                                            Chưa xử lý
                                        </td>    
                                    </tr>
                                    <tr>
                                        <td>OD0001</td>
                                        <td>Trần Ngọc Sang</td>
                                        <td>5</td>
                                        <td>15:00-10/11/2021</td>
                                        <td>
                                            <span class="text-info">1.000.000đ</span>
                                        </td>
                                        <td> 
                                            <a href="/admin/order/001" class="link-primary text-primary text-decoration-none">
                                                Chi tiết
                                            </a>
                                        </td>
                                        <td>
                                            Chưa xử lý
                                        </td>    
                                    </tr>
                                    <tr>
                                        <td>OD0001</td>
                                        <td>Trần Ngọc Sang</td>
                                        <td>5</td>
                                        <td>15:00-10/11/2021</td>
                                        <td>
                                            <span class="text-info">1.000.000đ</span>
                                        </td>
                                        <td> 
                                            <a href="/admin/order/001" class="link-primary text-primary text-decoration-none">
                                                Chi tiết
                                            </a>
                                        </td>
                                        <td>
                                            Chưa xử lý
                                        </td>    
                                    </tr>
                                    <tr>
                                        <td>OD0001</td>
                                        <td>Trần Ngọc Sang</td>
                                        <td>5</td>
                                        <td>15:00-10/11/2021</td>
                                        <td>
                                            <span class="text-info">1.000.000đ</span>
                                        </td>
                                        <td> 
                                            <a href="/admin/order/001" class="link-primary text-primary text-decoration-none">
                                                Chi tiết
                                            </a>
                                        </td>
                                        <td>
                                            Chưa xử lý
                                        </td>    
                                    </tr>
                                    <tr>
                                        <td>OD0001</td>
                                        <td>Trần Ngọc Sang</td>
                                        <td>5</td>
                                        <td>15:00-10/11/2021</td>
                                        <td>
                                            <span class="text-info">1.000.000đ</span>
                                        </td>
                                        <td> 
                                            <a href="/admin/order/001" class="link-primary text-primary text-decoration-none">
                                                Chi tiết
                                            </a>
                                        </td>
                                        <td>
                                            Chưa xử lý
                                        </td>    
                                    </tr>
                                    <tr>
                                        <td>OD0001</td>
                                        <td>Trần Ngọc Sang</td>
                                        <td>5</td>
                                        <td>15:00-10/11/2021</td>
                                        <td>
                                            <span class="text-info">1.000.000đ</span>
                                        </td>
                                        <td> 
                                            <a href="/admin/order/001" class="link-primary text-primary text-decoration-none">
                                                Chi tiết
                                            </a>
                                        </td>
                                        <td>
                                            Chưa xử lý
                                        </td>    
                                    </tr>
                                    <tr>
                                        <td>OD0001</td>
                                        <td>Trần Ngọc Sang</td>
                                        <td>5</td>
                                        <td>15:00-10/11/2021</td>
                                        <td>
                                            <span class="text-info">1.000.000đ</span>
                                        </td>
                                        <td> 
                                            <a href="/admin/order/001" class="link-primary text-primary text-decoration-none">
                                                Chi tiết
                                            </a>
                                        </td>
                                        <td>
                                            Chưa xử lý
                                        </td>    
                                    </tr>
                                    <tr>
                                        <td>OD0001</td>
                                        <td>Trần Ngọc Sang</td>
                                        <td>5</td>
                                        <td>15:00-10/11/2021</td>
                                        <td>
                                            <span class="text-info">1.000.000đ</span>
                                        </td>
                                        <td> 
                                            <a href="/admin/order/001" class="link-primary text-primary text-decoration-none">
                                                Chi tiết
                                            </a>
                                        </td>
                                        <td>
                                            Chưa xử lý
                                        </td>    
                                    </tr>
                                    <tr>
                                        <td>OD0001</td>
                                        <td>Trần Ngọc Sang</td>
                                        <td>5</td>
                                        <td>15:00-10/11/2021</td>
                                        <td>
                                            <span class="text-info">1.000.000đ</span>
                                        </td>
                                        <td> 
                                            <a href="/admin/order/001" class="link-primary text-primary text-decoration-none">
                                                Chi tiết
                                            </a>
                                        </td>
                                        <td>
                                            Chưa xử lý
                                        </td>    
                                    </tr>
                                    <tr>
                                        <td>OD0001</td>
                                        <td>Trần Ngọc Sang</td>
                                        <td>5</td>
                                        <td>15:00-10/11/2021</td>
                                        <td>
                                            <span class="text-info">1.000.000đ</span>
                                        </td>
                                        <td> 
                                            <a href="/admin/order/001" class="link-primary text-primary text-decoration-none">
                                                Chi tiết
                                            </a>
                                        </td>
                                        <td>
                                            Chưa xử lý
                                        </td>    
                                    </tr>
                                    <tr>
                                        <td>OD0001</td>
                                        <td>Trần Ngọc Sang</td>
                                        <td>5</td>
                                        <td>15:00-10/11/2021</td>
                                        <td>
                                            <span class="text-info">1.000.000đ</span>
                                        </td>
                                        <td> 
                                            <a href="/admin/order/001" class="link-primary text-primary text-decoration-none">
                                                Chi tiết
                                            </a>
                                        </td>
                                        <td>
                                            Chưa xử lý
                                        </td>    
                                    </tr>
                                    <tr>
                                        <td>OD0001</td>
                                        <td>Trần Ngọc Sang</td>
                                        <td>5</td>
                                        <td>15:00-10/11/2021</td>
                                        <td>
                                            <span class="text-info">1.000.000đ</span>
                                        </td>
                                        <td> 
                                            <a href="/admin/order/001" class="link-primary text-primary text-decoration-none">
                                                Chi tiết
                                            </a>
                                        </td>
                                        <td>
                                            Chưa xử lý
                                        </td>    
                                    </tr>
                                    <tr>
                                        <td>OD0001</td>
                                        <td>Trần Ngọc Sang</td>
                                        <td>5</td>
                                        <td>15:00-10/11/2021</td>
                                        <td>
                                            <span class="text-info">1.000.000đ</span>
                                        </td>
                                        <td> 
                                            <a href="/admin/order/001" class="link-primary text-primary text-decoration-none">
                                                Chi tiết
                                            </a>
                                        </td>
                                        <td>
                                            Chưa xử lý
                                        </td>    
                                    </tr>
                                    <tr>
                                        <td>OD0001</td>
                                        <td>Trần Ngọc Sang</td>
                                        <td>5</td>
                                        <td>15:00-10/11/2021</td>
                                        <td>
                                            <span class="text-info">1.000.000đ</span>
                                        </td>
                                        <td> 
                                            <a href="/admin/order/001" class="link-primary text-primary text-decoration-none">
                                                Chi tiết
                                            </a>
                                        </td>
                                        <td>
                                            Chưa xử lý
                                        </td>    
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                        <footer class="row justify-content-center admin-order-footer">
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center">
                                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul>
                              </nav>
                        </footer>
                    </div>
                </div>
