                    <div class="admin-order-item">
                        <header class="admin-order-header-item">
                            <h1 class="row py-4 text-primary admin-order-header__title">
                                Chi tiết đơn hàng
                            </h1>
                        </header>

                        <div class="admin-order-item-infor">
                            <div class="row">
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-4">ID đơn hàng</div>
                                        <div class="col-8">OD0001</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">Mã khách hàng</div>
                                        <div class="col-8">KH00001</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">Tên khách hàng</div>
                                        <div class="col-8">Nguyễn Đình Hiệu</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">Số lượng sản phẩm</div>
                                        <div class="col-8">3</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">Tổng tiền</div>
                                        <div class="col-8">10.000.000 đ</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">Thời gian</div>
                                        <div class="col-8">15:00-10/11/2021</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">Địa chỉ</div>
                                        <div class="col-8">Trường Đại Học Khoa Học Tự Nhiên</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">Trình trạng</div>
                                        <div class="col-8">Chưa xác nhận</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">Giao hàng</div>
                                        <div class="col-8"></div>
                                    </div>
                                    <div class="row py-4">
                                        <div class="col-4">
                                            <button class="btn btn-success">
                                                Xác nhận đơn hàng
                                            </button>
                                        </div>
                                    </div>
                                            
                                    <div class="row py-4">                             
                                        <div class="col">
                                            <table class="table admin-order-table">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th>
                                                            Mã sản phẩm
                                                            <button class="btn">
                                                                <i class="fas fa-sort"></i>
                                                            </button>
                                                        </th>
                                                        <th>
                                                            <button class="btn">
                                                                <i class="fas fa-sort"></i>
                                                            </button>
                                                            Tên sản phẩm 1
                                                        </th>
                                                        <th>
                                                            Giá tiền
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>MB0001</td>
                                                        <td>Samsung Galaxy S1</td>
                                                        <td>6.000.000đ</td>
                                                    </tr>
                                                    <tr>
                                                        <td>MB0002</td>
                                                        <td>Headphone Sony xxx</td>
                                                        <td>3.000.000đ</td>
                                                    </tr>
                                                    <tr>
                                                        <td>MB0003</td>
                                                        <td>Dây sạc</td>
                                                        <td>1.000.000đ</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="admin-user-infor">
                                        <div class="row">
                                            <div class="col">
                                                <img src="/assets/img/user/KH0001.png" alt="" class="w-100 admin-user-infor-img">
                                                <div class="py-4">
                                                    <div class="row py-2">
                                                        <div class="col">
                                                            <h3>Dinhhieu123</h3>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <i class="fas fa-phone"></i>
                                                            32423432
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <i class="fas fa-envelope-square"></i>
                                                            dh@gmail.com
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="admin-user-old-order py-4">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                Số đơn hãng đã mua
                                            </div>
                                            <div class="col-sm-4">
                                                20
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                Tổng số tiền
                                            </div>
                                            <div class="col-sm-4">
                                                200000000
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <footer class="row justify-content-center admin-order-footer">
                            <footer class="row justify-content-center admin-order-footer">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination justify-content-center">
                                      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                                      <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                    </ul>
                                  </nav>
                            </footer>
                        </footer>
                    </div>