                <div class="container">
                    <div class="admin-profile">
                        <header class="admin-profile-header">
                            <h1 class="row py-4 text-primary admin-profile-header__title">
                                Thông tin admin
                            </h1>
                        </header>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="admin-profile-infor">
                                    <img src="/assets/img/avatar/avatar01.png" alt="" class="w-50 admin-profile-infor-img">
                                    <div class="admin-profile-infor-description">
                                        <div class="row py-2">
                                            <div class="col">
                                                <h3>Transang123</h3>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <i class="fas fa-phone"></i>
                                                0123456789
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <i class="fas fa-envelope-square"></i>
                                                abc@gmail.com
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="py-4  admin-profile-edit">
                                    <div class="row py-2">
                                        <div class="col-sm-2">
                                            Họ tên
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="row">
                                                <input type="text" class="form-control" placeholder="Trần Ngọc Sang">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row py-2">
                                        <div class="col-sm-2">
                                            Username
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="row">
                                                <input type="text" class="form-control" placeholder="Transang123">
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="row py-2">
                                        <div class="col-sm-2">
                                            Địa chỉ
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="row">
                                                <input type="text" class="form-control" placeholder="Linh Trung Thủ Đức">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row py-2">
                                        <div class="col-sm-2">
                                            Email
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="row">
                                                <input type="email" class="form-control" placeholder="abc@gmail.com">
                                            </div>
                                        </div>
                                    </div>    
                                    <div class="row py-2">
                                        <div class="col-sm-2">
                                            Số điện thoại
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="row">
                                                <input type="number" class="form-control" placeholder="0123456789">
                                            </div>
                                        </div>
                                    </div>   
                                    <div class="row">
                                        <div class="col">
                                            <button type="button" class="btn btn-primary" data-toggle="modal">
                                                <i class="fas fa-check-circle"></i>
                                                Lưu lại
                                            </button>
                                        </div>        
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>