<form class="container" id="addProductForm" action="/admin/product/add">
    <div class="admin-container-content">
        <header class="admin-container-content-header">
            <h1 class="row py-4 text-primary admin-container-content-header__title">
                Thêm sản phẩm
            </h1>
        </header>
        <div class="">
            <div class="">
                <div class="row justify-content-end">
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-primary shadow-none" data-toggle="modal">
                            <i class="fa fa-pencil"></i>
                            Thêm mới
                        </button>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="row justify-content-center">
                    <h2 class="row py-4 text-secondary">
                        Sản phẩm
                    </h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="row align-items-center">
                            <div class="col-lg-3 py-2">
                                Tên sản phẩm
                            </div>
                            <div class="col-lg-9 py-2">
                                <input class="form-control shadow-none" name="fullName" type="text" placeholder="Tên sản phẩm">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="row align-items-center">
                            <div class="col-lg-3 py-2">
                                Giá
                            </div>
                            <div class="col-lg-9 py-2">
                                <input class="form-control shadow-none" name="price" type="number" step="0.01" min="0" placeholder="Giá"> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="row align-items-center">
                            <div class="col-lg-3 py-2">
                                Rating
                            </div>
                            <div class="col-lg-9 py-2">
                                <input class="form-control shadow-none" name="rating" type="number" step="0.01" min="0" placeholder="Rating"> 
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
            <div class="">
                <div class="row justify-content-center">
                    <h2 class="row py-4 text-secondary">
                        Thương hiệu
                    </h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="row align-items-center">
                            <div class="col-lg-3 py-2">
                                Tên thương hiệu
                            </div>
                            <div class="col-lg-9 py-2">
                                <input class="form-control shadow-none" name="brandName" type="text" placeholder="Tên thương hiệu">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            {{!-- <div class="">
                <div class="row justify-content-center">
                    <h2 class="row py-4 text-secondary">
                        Configuration
                    </h2>
                    <div class="row py-4 justify-content-center">
                        <div class="col-lg-8 d-flex justify-content-end">
                            <button type="button" id="addNewConfigurationRowBtn" class="btn btn-success shadow-none" data-toggle="modal">
                                <i class="fa fa-pencil"></i>
                                Thêm Dòng
                            </button>
                            <button type="button" id="deleteNewConfigurationRowBtn" class="btn btn-danger shadow-none" data-toggle="modal">
                                <i class="fa fa-pencil"></i>
                                Xóa dòng
                            </button>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <table class="table table-bordered admin-add-configuration-table">
                                <thead class="admin-add-configuration-table-thead">
                                    <tr>
                                        <th>
                                            Values
                                        </th>
                                        <th>
                                            Specification
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="admin-add-configuration-row-list" class="admin-add-configuration-table-tbody">
                                    <!-- <tr>
                                        <td>
                                            <input class="form-control shadow-none" name="configurationValue0" type="text" placeholder="Nhập configuration">
                                        </td>
                                        <td>
                                            <input class="form-control shadow-none" name="specification0" type="text" placeholder="Nhập Specification">
                                        </td>
                                    </tr> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="row justify-content-center">
                    <h2 class="row py-4 text-secondary">
                        Option
                    </h2>
                    <div class="row py-4 justify-content-center">
                        <div class="col-lg-8 d-flex justify-content-end">
                            <button type="button" id="addNewOptionRowBtn" class="btn btn-success shadow-none" data-toggle="modal">
                                <i class="fa fa-pencil"></i>
                                Thêm Dòng
                            </button>
                            <button type="button" id="deleteNewOptionRowBtn" class="btn btn-danger shadow-none" data-toggle="modal">
                                <i class="fa fa-pencil"></i>
                                Xóa dòng
                            </button>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <table class="table table-bordered admin-add-option-table">
                                <thead class="admin-add-option-table-thead">
                                    <tr>
                                        <th>
                                            Values
                                        </th>
                                        <th>
                                            Price
                                        </th>
                                        <th>
                                            Capacity
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="admin-add-option-row-list" class="admin-add-option-table-tbody">
                                    <!-- <tr>
                                        <td>
                                            <input class="form-control shadow-none" name="addOptionName0" type="text" placeholder="Nhập Option">
                                        </td>
                                        <td>
                                            <input class="form-control shadow-none" name="addCapacityForPrice0" type="text" placeholder="Nhập Capacity">
                                        </td>
                                        <td>
                                            <input class="form-control shadow-none" name="addCapacityForOption0" type="text" placeholder="Nhập Capacity">
                                        </td>
                                    </tr> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="row justify-content-center">
                    <h2 class="row py-4 text-secondary">
                        Image
                    </h2>
                    <div class="row py-4 justify-content-center">
                        <div class="col-lg-8 d-flex justify-content-end">
                            <button type="button" id="addNewImageRowBtn" class="btn btn-success shadow-none" data-toggle="modal">
                                <i class="fa fa-pencil"></i>
                                Thêm Dòng
                            </button>
                            <button type="button" id="deleteNewImageRowBtn" class="btn btn-danger shadow-none" data-toggle="modal">
                                <i class="fa fa-pencil"></i>
                                Xóa dòng
                            </button>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <table class="table table-bordered admin-add-image-table">
                                <thead class="admin-add-image-table-thead">
                                    <tr>
                                        <th>
                                            Link
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="admin-add-image-row-list" class="admin-add-image-table-tbody">
                                    <!-- <tr>
                                        <td>
                                            <input class="form-control shadow-none" name="addImageLink0" type="text" placeholder="Nhập Image Link">
                                        </td>
                                    </tr> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div> --}}
        </div>


        {{!-- <input placeholder="" name="brandip">
        <table class="table table-bordered admin-table">
            <thead class="admin-table-thead">
            <tr>
                <th>
                    Chọn
                </th>
                <th>
                    ID
                </th>
                <th>
                    Tên
                </th>
                <th>
                    Thương hiệu
                </th>
            </tr>
            </thead>
            <tbody class="admin-table-tbody">
                <tr>
                    <td>
                        <input class="form-check-input" type="radio" name="radioip" id="" value="sang1">
                    </td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>
                        <input class="form-check-input" type="radio" name="radioip" id="" value="sang2">
                    </td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
            </tbody>
        </table> --}}
    </div>
</form>