<div class="container">
    <div class="admin-product-add-item">
        <header class="admin-product-add-item-header">
            <h1 class="row py-4 text-primary admin-product-add-item-header__title">
                Thêm sản phẩm
            </h1>
        </header>
        <div class="">
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-primary" data-toggle="modal">
                        <i class="fas fa-check-circle"></i>
                        Thêm
                    </button>
                </div>
            </div>
            <div class="py-4 admin-product-add-item">
                <div class="row py-2">
                    <div class="col-sm-2">
                        Sản phẩm
                    </div>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="ID">
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="Tên sản phẩm">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row py-2">
                    <div class="col-sm-2">
                        Thương hiệu
                    </div>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="ID">
                            </div>
                            <div class="col-sm-8">
                                <div class="d-flex justify-content-between">
                                    <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Thương hiệu">
                                    <div class="">
                                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                        <div class="dropdown-menu">
                                            <div class="dropdown-item" href="#">Samsung</div>
                                            <div class="dropdown-item" href="#">Apple</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-sm-2">
                        Giá
                    </div>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="Giá mua">
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="Giá bán">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-sm-2">
                        Mô tả chung về sản phẩm
                    </div>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <textarea class="form-control admin-product-add-item-input-description" aria-label="With textarea">
                                
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>