                <div class="container">
                    <div class="admin-product">
                        <header class="admin-order-header">
                            <h1 class="row py-4 text-primary admin-order-header__title">
                                Danh sách sản phẩm
                            </h1>
                        </header>
                        <div class="row py-4">
                            <div class="col-sm-8">
                                <div class="row align-items-stretch admin-order-header-filter ">
                                    <div class="col-sm-3">                                        
                                        <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="ID">                                        
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="d-flex justify-content-between">
                                            <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Tên">
                                            <div class="">
                                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                                <div class="dropdown-menu">
                                                    <div class="dropdown-item" href="#">Galaxy</div>
                                                    <div class="dropdown-item" href="#">Iphone X</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="d-flex justify-content-between">
                                            <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Thương hiệu">
                                            <div class="">
                                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                                <div class="dropdown-menu">
                                                    <div class="dropdown-item" href="#">Samsung</div>
                                                    <div class="dropdown-item" href="#">Apple</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <button id="" type="button" class="btn btn-primary left"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 text-center">
                                <a href="/product/productAddItem.html">
                                    <button type="button" class="btn btn-primary" data-toggle="modal">
                                        <i class="fa fa-pencil"></i>
                                        Thêm mới
                                    </button>
                                    <button type="button" class="btn btn-danger">
                                        <i class="fa fa-times-circle"></i>
                                        Xóa
                                    </button>
                                </a>
                            </div>
                        </div>   
                        <div class="row py-4">
                            <table class="table table-striped admin-product-table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>
                                            Chọn
                                        </th>
                                        <th>
                                            <button class="btn">
                                                <i class="fas fa-sort"></i>
                                            </button>
                                            ID
                                        </th>

                                        <th>
                                            <button class="btn">
                                                <i class="fas fa-sort"></i>
                                            </button>
                                            Tên
                                        </th>
                                        <th>
                                            <button class="btn">
                                                <i class="fas fa-sort"></i>
                                            </button>
                                            Hãng
                                        </th>
                                        <th>
                                            <button class="btn">
                                                <i class="fas fa-sort"></i>
                                            </button>
                                            Giá nhập
                                        </th>
                                        <th>
                                            Giá bán
                                        </th>
                                        <th>
                                            <button class="btn">
                                                <i class="fas fa-sort"></i>
                                            </button>
                                            Tồn kho
                                        </th>
                                        <th>
                                            Ảnh
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input class="form-check-input" type="checkbox" id="">
                                        </td>
                                        <td>MB0001</td>
                                        <td>Galaxy A51</td>
                                        <td>Samsung</td>
                                        <td>5000000</td>
                                        <td>6000000</td>
                                        <td>
                                            100
                                        </td>
                                        <td>
                                            <img src="/assets/img/product/mb0001.jpg" alt="" class="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input class="form-check-input" type="checkbox" id="">
                                        </td>
                                        <td>MB0001</td>
                                        <td>Galaxy A51</td>
                                        <td>Samsung</td>
                                        <td>5000000</td>
                                        <td>6000000</td>
                                        <td>
                                            100
                                        </td>
                                        <td>
                                            <img src="/assets/img/product/mb0001.jpg" alt="" class="">
                                        </td>
                                    </tr>                                    <tr>
                                        <td>
                                            <input class="form-check-input" type="checkbox" id="">
                                        </td>
                                        <td>MB0001</td>
                                        <td>Galaxy A51</td>
                                        <td>Samsung</td>
                                        <td>5000000</td>
                                        <td>6000000</td>
                                        <td>
                                            100
                                        </td>
                                        <td>
                                            <img src="/assets/img/product/mb0001.jpg" alt="" class="">
                                        </td>
                                    </tr>                                    <tr>
                                        <td>
                                            <input class="form-check-input" type="checkbox" id="">
                                        </td>
                                        <td>MB0001</td>
                                        <td>Galaxy A51</td>
                                        <td>Samsung</td>
                                        <td>5000000</td>
                                        <td>6000000</td>
                                        <td>
                                            100
                                        </td>
                                        <td>
                                            <img src="/assets/img/product/mb0001.jpg" alt="" class="">
                                        </td>
                                    </tr>                                    <tr>
                                        <td>
                                            <input class="form-check-input" type="checkbox" id="">
                                        </td>
                                        <td>MB0001</td>
                                        <td>Galaxy A51</td>
                                        <td>Samsung</td>
                                        <td>5000000</td>
                                        <td>6000000</td>
                                        <td>
                                            100
                                        </td>
                                        <td>
                                            <img src="/assets/img/product/mb0001.jpg" alt="" class="">
                                        </td>
                                    </tr>                                    <tr>
                                        <td>
                                            <input class="form-check-input" type="checkbox" id="">
                                        </td>
                                        <td>MB0001</td>
                                        <td>Galaxy A51</td>
                                        <td>Samsung</td>
                                        <td>5000000</td>
                                        <td>6000000</td>
                                        <td>
                                            100
                                        </td>
                                        <td>
                                            <img src="/assets/img/product/mb0001.jpg" alt="" class="">
                                        </td>
                                    </tr>                                    <tr>
                                        <td>
                                            <input class="form-check-input" type="checkbox" id="">
                                        </td>
                                        <td>MB0001</td>
                                        <td>Galaxy A51</td>
                                        <td>Samsung</td>
                                        <td>5000000</td>
                                        <td>6000000</td>
                                        <td>
                                            100
                                        </td>
                                        <td>
                                            <img src="/assets/img/product/mb0001.jpg" alt="" class="">
                                        </td>
                                    </tr>                                    <tr>
                                        <td>
                                            <input class="form-check-input" type="checkbox" id="">
                                        </td>
                                        <td>MB0001</td>
                                        <td>Galaxy A51</td>
                                        <td>Samsung</td>
                                        <td>5000000</td>
                                        <td>6000000</td>
                                        <td>
                                            100
                                        </td>
                                        <td>
                                            <img src="/assets/img/product/mb0001.jpg" alt="" class="">
                                        </td>
                                    </tr>                                    <tr>
                                        <td>
                                            <input class="form-check-input" type="checkbox" id="">
                                        </td>
                                        <td>MB0001</td>
                                        <td>Galaxy A51</td>
                                        <td>Samsung</td>
                                        <td>5000000</td>
                                        <td>6000000</td>
                                        <td>
                                            100
                                        </td>
                                        <td>
                                            <img src="/assets/img/product/mb0001.jpg" alt="" class="">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <footer class="row justify-content-center admin-order-footer">
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center">
                                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul>
                              </nav>
                        </footer>
                    </div>
                </div>